@import "compass/reset";
@import "compass/css3";



@import "base"; /* inkludiert die Datei _base.scss */
@import "button"; /* inkludiert die Datei _button.scss */


.btn {

    @include transition-property(padding);
    @include transition-delay(0ms);
    @include transition-duration(30ms);
    @include transition-timing-function(linear);

    /* je nach Einstellungen werden die Effekte sehr sehr langsam oder sehr schnell */



    &.ease-in {

        @include transition-timing-function(ease-in);

    }

    &.ease-out {

        @include transition-timing-function(ease-out);

    }

    &.ease-in-out {

        @include transition-timing-function(ease-in-out);

    }

    &.green {

        @include transition-property(padding);

    }

    &.animation {
        position: absolute;     /* Hab einfach den Button 1 genommen */
        left:0;
        top:0;
        animation-timing-function: linear;
    }
}


body:hover .animation {
    animation-name:myanimation;
    animation-duration:5s;

}

@keyframes myanimation {

    0% {top: 0; left: 0; }
    25% {left: 95%; top: 0;}
    50% {left: 95%; top: 95%;}
    75% {left: 0; top: 95%;}
    100% {left: 0; top: 0;}

}


.btn:hover {
    padding-left: 25px;
    padding-right: 25px;
}

