@import "compass/reset";
@import "compass/css3";



@import "base"; /* inkludiert die Datei _base.scss */
@import "button"; /* inkludiert die Datei _button.scss */


.btn {



    /* TODO */
    @include transition-property(padding);
    @include transition-delay(500ms);
    @include transition-duration(300ms);
    @include transition-timing-function(linear);



    &.ease-in {
        /* TODO */
        @include transition-timing-function(ease-in);

    }

    &.ease-out {
        /* TODO */
        @include transition-timing-function(ease-out);

    }

    &.ease-in-out {
        /* TODO */
        @include transition-timing-function(ease-in-out);

    }

    &.green {
        /* TODO */
        @include transition-property(padding);

    }

    &.animation {
        position: absolute;     /* Hab einfach den Button 1 genommen */
        left:0;
        top:0;
        /*animation-timing-function: linear; */
    }
}


body:hover .animation {
    animation-name:myanimation;
    animation-duration:5s;
    animation-delay: 2s;
    animation-direction: normal;
    animation-iteration-count:infinite;
    animation-play-state: running;
}

@keyframes myanimation {


}


.btn:hover {
    padding-left: 25px;
    padding-right: 25px;
}

