@charset "utf-8";
 @import "compass/reset";
//sollte diese folgende Zeile zu einer Fehlermeldung führen - kommentieren Sie die folgende und die obere Zeile aus und kommentieren Sie die nachfolgende ein
 @import "compass/css3";



@import "base"; /* inkludiert die Datei _base.scss */
@import "button"; /* inkludiert die Datei _button.scss */


.btn {
    /* TODO */
    @include transition-property(padding);
    @include transition-delay(500ms);
    @include transition-duration(300ms);
    @include transition-timing-function(linear);



    &.ease-in {
        /* TODO */
        @include transition-timing-function(ease-in);

    }

    &.ease-out {
        /* TODO */
        @include transition-timing-function(ease-out);

    }

    &.ease-in-out {
        /* TODO */
        @include transition-timing-function(ease-in-out);

    }

    &.green {
        /* TODO */
        @include transistion-property(padding);

    }

    &.animation {
        position: absolute;     /* Hab einfach den Button 1 genommen */
        left:0;
        top:0;
        right:auto;
        bottom:auto;
        animation-timing-function: linear;

    }
}


body:hover .animation {
    animation-name:myanimation;
    animation-duration:5s;
    animation-delay: 2s;
    animation-direction: normal;
    animation-iteration-count:infinite;
    animation-play-state: running;
}
            /* leider funktioniert meine Animation nicht, aber ich weiß nicht wieso. Ich habe schon  mehere Internetseiten konsultiert und schier alle Werte eingefügt, die man
            bei einer Animation definieren kann, aber es rührt sich nichts...
             */
@keyframes myanimation {
    0%      {margin-top: auto;}
    25%     {margin-right: auto;}
    50%     {margin-bottom: auto;}
    75%     {margin-left: auto;}
    100%    {margin-top: auto;}
}


.btn:hover {
    padding-left: 25px;
    padding-right: 25px;
}

